.logo-animated {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    --white: #fff;
    --black: #000;
    --gray-050: #fafafa;
    --gray-100: #ebebeb;
    --gray-200: #e1e1e1;
    --gray-300: #c1c1c1;
    --gray-400: #a1a1a1;
    --gray-500: #818181;
    --gray-600: #616161;
    --gray-700: #414141;
    --gray-800: #2b2b2b;
    --gray-850: #1a1a1a;
    --gray-900: #111;
    --red-050: snow;
    --red-100: #ffe5e9;
    --red-200: #fbbfc7;
    --red-300: #ff909f;
    --red-400: #ff7082;
    --red-500: #ff455d;
    --red-600: #dd243c;
    --red-700: #c11027;
    --red-800: #8f0718;
    --red-900: #51050e;
    --orange-050: #fff8f3;
    --orange-100: #ffe8d8;
    --orange-200: #ffc59b;
    --orange-300: #fc9c66;
    --orange-400: #fd812d;
    --orange-500: #f35815;
    --orange-600: #c43c02;
    --orange-700: #962d00;
    --orange-800: #672002;
    --orange-900: #391303;
    --yellow-050: #fffbe4;
    --yellow-100: #fff1a8;
    --yellow-200: #fed54a;
    --yellow-300: #f2b600;
    --yellow-400: #d19f03;
    --yellow-500: #a78103;
    --yellow-600: #835c01;
    --yellow-700: #5c4716;
    --yellow-800: #41320c;
    --yellow-900: #261c02;
    --green-050: #effff3;
    --green-100: #d7fbdf;
    --green-200: #a9ecb8;
    --green-300: #75db8c;
    --green-400: #40d763;
    --green-500: #27b648;
    --green-600: #13862e;
    --green-700: #19652a;
    --green-800: #10481d;
    --green-900: #0a2912;
    --blue-050: #f3fbff;
    --blue-100: #ddf2ff;
    --blue-200: #a9dffe;
    --blue-300: #73c7f9;
    --blue-400: #47b7f8;
    --blue-500: #1e9de7;
    --blue-600: #0e73cc;
    --blue-700: #144eb6;
    --blue-800: #0e3682;
    --blue-900: #071f4d;
    --purple-050: #f9f8ff;
    --purple-100: #eeeaff;
    --purple-200: #d4c9fe;
    --purple-300: #b7a5fb;
    --purple-400: #a18bf5;
    --purple-500: #8467f3;
    --purple-600: #624bbb;
    --purple-700: #4b3990;
    --purple-800: #3e1f75;
    --purple-900: #261149;
    --bg-primary: var(--gray-900);
    --bg-secondary: var(--gray-800);
    --bg-tertiary: var(--gray-700);
    --border-primary: var(--gray-800);
    --border-secondary: var(--gray-700);
    --border-action: var(--gray-600);
    --text-primary: var(--gray-050);
    --text-secondary: var(--gray-400);
    --text-blue: var(--blue-400);
    --text-green: var(--green-500);
    --text-orange: var(--orange-300);
    --text-red: var(--red-500);
    --text-red-disabled: var(--red-500);
    --text-purple: var(--purple-400);
    --graph-border: var(--gray-600);
    --graph-blue-gradient-start: var(--blue-900);
    --graph-blue-gradient-stop: var(--blue-900);
    --graph-blue-light: var(--blue-700);
    --graph-blue-dark: var(--blue-400);
    --graph-orange-light: var(--orange-700);
    --graph-orange-dark: var(--orange-400);
    --graph-green-light: var(--green-700);
    --graph-green-dark: var(--green-400);
    line-height: inherit;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--text-primary);
    border-color: var(--border-primary);
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    display: flex;
    align-items: center;
}

input {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --white: #fff;
    --black: #000;
    --gray-050: #fafafa;
    --gray-100: #ebebeb;
    --gray-200: #e1e1e1;
    --gray-300: #c1c1c1;
    --gray-400: #a1a1a1;
    --gray-500: #818181;
    --gray-600: #616161;
    --gray-700: #414141;
    --gray-800: #2b2b2b;
    --gray-850: #1a1a1a;
    --gray-900: #111;
    --red-050: snow;
    --red-100: #ffe5e9;
    --red-200: #fbbfc7;
    --red-300: #ff909f;
    --red-400: #ff7082;
    --red-500: #ff455d;
    --red-600: #dd243c;
    --red-700: #c11027;
    --red-800: #8f0718;
    --red-900: #51050e;
    --orange-050: #fff8f3;
    --orange-100: #ffe8d8;
    --orange-200: #ffc59b;
    --orange-300: #fc9c66;
    --orange-400: #fd812d;
    --orange-500: #f35815;
    --orange-600: #c43c02;
    --orange-700: #962d00;
    --orange-800: #672002;
    --orange-900: #391303;
    --yellow-050: #fffbe4;
    --yellow-100: #fff1a8;
    --yellow-200: #fed54a;
    --yellow-300: #f2b600;
    --yellow-400: #d19f03;
    --yellow-500: #a78103;
    --yellow-600: #835c01;
    --yellow-700: #5c4716;
    --yellow-800: #41320c;
    --yellow-900: #261c02;
    --green-050: #effff3;
    --green-100: #d7fbdf;
    --green-200: #a9ecb8;
    --green-300: #75db8c;
    --green-400: #40d763;
    --green-500: #27b648;
    --green-600: #13862e;
    --green-700: #19652a;
    --green-800: #10481d;
    --green-900: #0a2912;
    --blue-050: #f3fbff;
    --blue-100: #ddf2ff;
    --blue-200: #a9dffe;
    --blue-300: #73c7f9;
    --blue-400: #47b7f8;
    --blue-500: #1e9de7;
    --blue-600: #0e73cc;
    --blue-700: #144eb6;
    --blue-800: #0e3682;
    --blue-900: #071f4d;
    --purple-050: #f9f8ff;
    --purple-100: #eeeaff;
    --purple-200: #d4c9fe;
    --purple-300: #b7a5fb;
    --purple-400: #a18bf5;
    --purple-500: #8467f3;
    --purple-600: #624bbb;
    --purple-700: #4b3990;
    --purple-800: #3e1f75;
    --purple-900: #261149;
    --bg-primary: var(--gray-900);
    --bg-secondary: var(--gray-800);
    --bg-tertiary: var(--gray-700);
    --border-primary: var(--gray-800);
    --border-secondary: var(--gray-700);
    --border-action: var(--gray-600);
    --text-primary: var(--gray-050);
    --text-secondary: var(--gray-400);
    --text-blue: var(--blue-400);
    --text-green: var(--green-500);
    --text-orange: var(--orange-300);
    --text-red: var(--red-500);
    --text-red-disabled: var(--red-500);
    --text-purple: var(--purple-400);
    --graph-border: var(--gray-600);
    --graph-blue-gradient-start: var(--blue-900);
    --graph-blue-gradient-stop: var(--blue-900);
    --graph-blue-light: var(--blue-700);
    --graph-blue-dark: var(--blue-400);
    --graph-orange-light: var(--orange-700);
    --graph-orange-dark: var(--orange-400);
    --graph-green-light: var(--green-700);
    --graph-green-dark: var(--green-400);
    -webkit-font-smoothing: antialiased;
    border-style: solid;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    margin: 0;
    appearance: none;
    line-height: 1.5rem;
    background-color: var(--bg-secondary);
    border-radius: 6px;
    font-size: 14px;
    padding: 4px 16px;
    --tw-ring-offset-width: 0px;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    border-color: var(--border-action);
    border-width: 1px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    width: 100%;
}

.text-secondary {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    --white: #fff;
    --black: #000;
    --gray-050: #fafafa;
    --gray-100: #ebebeb;
    --gray-200: #e1e1e1;
    --gray-300: #c1c1c1;
    --gray-400: #a1a1a1;
    --gray-500: #818181;
    --gray-600: #616161;
    --gray-700: #414141;
    --gray-800: #2b2b2b;
    --gray-850: #1a1a1a;
    --gray-900: #111;
    --red-050: snow;
    --red-100: #ffe5e9;
    --red-200: #fbbfc7;
    --red-300: #ff909f;
    --red-400: #ff7082;
    --red-500: #ff455d;
    --red-600: #dd243c;
    --red-700: #c11027;
    --red-800: #8f0718;
    --red-900: #51050e;
    --orange-050: #fff8f3;
    --orange-100: #ffe8d8;
    --orange-200: #ffc59b;
    --orange-300: #fc9c66;
    --orange-400: #fd812d;
    --orange-500: #f35815;
    --orange-600: #c43c02;
    --orange-700: #962d00;
    --orange-800: #672002;
    --orange-900: #391303;
    --yellow-050: #fffbe4;
    --yellow-100: #fff1a8;
    --yellow-200: #fed54a;
    --yellow-300: #f2b600;
    --yellow-400: #d19f03;
    --yellow-500: #a78103;
    --yellow-600: #835c01;
    --yellow-700: #5c4716;
    --yellow-800: #41320c;
    --yellow-900: #261c02;
    --green-050: #effff3;
    --green-100: #d7fbdf;
    --green-200: #a9ecb8;
    --green-300: #75db8c;
    --green-400: #40d763;
    --green-500: #27b648;
    --green-600: #13862e;
    --green-700: #19652a;
    --green-800: #10481d;
    --green-900: #0a2912;
    --blue-050: #f3fbff;
    --blue-100: #ddf2ff;
    --blue-200: #a9dffe;
    --blue-300: #73c7f9;
    --blue-400: #47b7f8;
    --blue-500: #1e9de7;
    --blue-600: #0e73cc;
    --blue-700: #144eb6;
    --blue-800: #0e3682;
    --blue-900: #071f4d;
    --purple-050: #f9f8ff;
    --purple-100: #eeeaff;
    --purple-200: #d4c9fe;
    --purple-300: #b7a5fb;
    --purple-400: #a18bf5;
    --purple-500: #8467f3;
    --purple-600: #624bbb;
    --purple-700: #4b3990;
    --purple-800: #3e1f75;
    --purple-900: #261149;
    --bg-primary: var(--gray-900);
    --bg-secondary: var(--gray-800);
    --bg-tertiary: var(--gray-700);
    --border-primary: var(--gray-800);
    --border-secondary: var(--gray-700);
    --border-action: var(--gray-600);
    --text-primary: var(--gray-050);
    --text-secondary: var(--gray-400);
    --text-blue: var(--blue-400);
    --text-green: var(--green-500);
    --text-orange: var(--orange-300);
    --text-red: var(--red-500);
    --text-red-disabled: var(--red-500);
    --text-purple: var(--purple-400);
    --graph-border: var(--gray-600);
    --graph-blue-gradient-start: var(--blue-900);
    --graph-blue-gradient-stop: var(--blue-900);
    --graph-blue-light: var(--blue-700);
    --graph-blue-dark: var(--blue-400);
    --graph-orange-light: var(--orange-700);
    --graph-orange-dark: var(--orange-400);
    --graph-green-light: var(--green-700);
    --graph-green-dark: var(--green-400);
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    border-color: var(--border-primary);
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    margin: 0;
    margin-bottom: 24px;
    font-size: 12px;
    color: var(--text-secondary);
}

label {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    --white: #fff;
    --black: #000;
    --gray-050: #fafafa;
    --gray-100: #ebebeb;
    --gray-200: #e1e1e1;
    --gray-300: #c1c1c1;
    --gray-400: #a1a1a1;
    --gray-500: #818181;
    --gray-600: #616161;
    --gray-700: #414141;
    --gray-800: #2b2b2b;
    --gray-850: #1a1a1a;
    --gray-900: #111;
    --red-050: snow;
    --red-100: #ffe5e9;
    --red-200: #fbbfc7;
    --red-300: #ff909f;
    --red-400: #ff7082;
    --red-500: #ff455d;
    --red-600: #dd243c;
    --red-700: #c11027;
    --red-800: #8f0718;
    --red-900: #51050e;
    --orange-050: #fff8f3;
    --orange-100: #ffe8d8;
    --orange-200: #ffc59b;
    --orange-300: #fc9c66;
    --orange-400: #fd812d;
    --orange-500: #f35815;
    --orange-600: #c43c02;
    --orange-700: #962d00;
    --orange-800: #672002;
    --orange-900: #391303;
    --yellow-050: #fffbe4;
    --yellow-100: #fff1a8;
    --yellow-200: #fed54a;
    --yellow-300: #f2b600;
    --yellow-400: #d19f03;
    --yellow-500: #a78103;
    --yellow-600: #835c01;
    --yellow-700: #5c4716;
    --yellow-800: #41320c;
    --yellow-900: #261c02;
    --green-050: #effff3;
    --green-100: #d7fbdf;
    --green-200: #a9ecb8;
    --green-300: #75db8c;
    --green-400: #40d763;
    --green-500: #27b648;
    --green-600: #13862e;
    --green-700: #19652a;
    --green-800: #10481d;
    --green-900: #0a2912;
    --blue-050: #f3fbff;
    --blue-100: #ddf2ff;
    --blue-200: #a9dffe;
    --blue-300: #73c7f9;
    --blue-400: #47b7f8;
    --blue-500: #1e9de7;
    --blue-600: #0e73cc;
    --blue-700: #144eb6;
    --blue-800: #0e3682;
    --blue-900: #071f4d;
    --purple-050: #f9f8ff;
    --purple-100: #eeeaff;
    --purple-200: #d4c9fe;
    --purple-300: #b7a5fb;
    --purple-400: #a18bf5;
    --purple-500: #8467f3;
    --purple-600: #624bbb;
    --purple-700: #4b3990;
    --purple-800: #3e1f75;
    --purple-900: #261149;
    --bg-primary: var(--gray-900);
    --bg-secondary: var(--gray-800);
    --bg-tertiary: var(--gray-700);
    --border-primary: var(--gray-800);
    --border-secondary: var(--gray-700);
    --border-action: var(--gray-600);
    --text-primary: var(--gray-050);
    --text-secondary: var(--gray-400);
    --text-blue: var(--blue-400);
    --text-green: var(--green-500);
    --text-orange: var(--orange-300);
    --text-red: var(--red-500);
    --text-red-disabled: var(--red-500);
    --text-purple: var(--purple-400);
    --graph-border: var(--gray-600);
    --graph-blue-gradient-start: var(--blue-900);
    --graph-blue-gradient-stop: var(--blue-900);
    --graph-blue-light: var(--blue-700);
    --graph-blue-dark: var(--blue-400);
    --graph-orange-light: var(--orange-700);
    --graph-orange-dark: var(--orange-400);
    --graph-green-light: var(--green-700);
    --graph-green-dark: var(--green-400);
    font-size: 14px;
    color: var(--gray-050);
    -webkit-font-smoothing: antialiased;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    border-color: var(--border-primary);
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 12px;
}

btn {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --white: #fff;
    --black: #000;
    --gray-050: #fafafa;
    --gray-100: #ebebeb;
    --gray-200: #e1e1e1;
    --gray-300: #c1c1c1;
    --gray-400: #a1a1a1;
    --gray-500: #818181;
    --gray-600: #616161;
    --gray-700: #414141;
    --gray-800: #2b2b2b;
    --gray-850: #1a1a1a;
    --gray-900: #111;
    --red-050: snow;
    --red-100: #ffe5e9;
    --red-200: #fbbfc7;
    --red-300: #ff909f;
    --red-400: #ff7082;
    --red-500: #ff455d;
    --red-600: #dd243c;
    --red-700: #c11027;
    --red-800: #8f0718;
    --red-900: #51050e;
    --orange-050: #fff8f3;
    --orange-100: #ffe8d8;
    --orange-200: #ffc59b;
    --orange-300: #fc9c66;
    --orange-400: #fd812d;
    --orange-500: #f35815;
    --orange-600: #c43c02;
    --orange-700: #962d00;
    --orange-800: #672002;
    --orange-900: #391303;
    --yellow-050: #fffbe4;
    --yellow-100: #fff1a8;
    --yellow-200: #fed54a;
    --yellow-300: #f2b600;
    --yellow-400: #d19f03;
    --yellow-500: #a78103;
    --yellow-600: #835c01;
    --yellow-700: #5c4716;
    --yellow-800: #41320c;
    --yellow-900: #261c02;
    --green-050: #effff3;
    --green-100: #d7fbdf;
    --green-200: #a9ecb8;
    --green-300: #75db8c;
    --green-400: #40d763;
    --green-500: #27b648;
    --green-600: #13862e;
    --green-700: #19652a;
    --green-800: #10481d;
    --green-900: #0a2912;
    --blue-050: #f3fbff;
    --blue-100: #ddf2ff;
    --blue-200: #a9dffe;
    --blue-300: #73c7f9;
    --blue-400: #47b7f8;
    --blue-500: #1e9de7;
    --blue-600: #0e73cc;
    --blue-700: #144eb6;
    --blue-800: #0e3682;
    --blue-900: #071f4d;
    --purple-050: #f9f8ff;
    --purple-100: #eeeaff;
    --purple-200: #d4c9fe;
    --purple-300: #b7a5fb;
    --purple-400: #a18bf5;
    --purple-500: #8467f3;
    --purple-600: #624bbb;
    --purple-700: #4b3990;
    --purple-800: #3e1f75;
    --purple-900: #261149;
    --bg-primary: var(--gray-900);
    --bg-secondary: var(--gray-800);
    --bg-tertiary: var(--gray-700);
    --border-primary: var(--gray-800);
    --border-secondary: var(--gray-700);
    --border-action: var(--gray-600);
    --text-primary: var(--gray-050);
    --text-secondary: var(--gray-400);
    --text-blue: var(--blue-400);
    --text-green: var(--green-500);
    --text-orange: var(--orange-300);
    --text-red: var(--red-500);
    --text-red-disabled: var(--red-500);
    --text-purple: var(--purple-400);
    --graph-border: var(--gray-600);
    --graph-blue-gradient-start: var(--blue-900);
    --graph-blue-gradient-stop: var(--blue-900);
    --graph-blue-light: var(--blue-700);
    --graph-blue-dark: var(--blue-400);
    --graph-orange-light: var(--orange-700);
    --graph-orange-dark: var(--orange-400);
    --graph-green-light: var(--green-700);
    --graph-green-dark: var(--green-400);
    -webkit-font-smoothing: antialiased;
    border-color: var(--border-primary);
    border-style: solid;
    border-width: 0;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    text-transform: none;
    -webkit-appearance: button;
    background-image: none;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    font-weight: 600;
    height: 34px;
    justify-content: center;
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    text-decoration-line: none;
    white-space: nowrap;
    border-radius: 6px;
    flex-shrink: 0;
    overflow: hidden;
    padding-bottom: 12px;
    padding-top: 12px;
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    background-color: var(--gray-050);
    color: var(--gray-800);
    cursor: pointer;
}


.border {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;
    --white: #fff;
    --black: #000;
    --gray-050: #fafafa;
    --gray-100: #ebebeb;
    --gray-200: #e1e1e1;
    --gray-300: #c1c1c1;
    --gray-400: #a1a1a1;
    --gray-500: #818181;
    --gray-600: #616161;
    --gray-700: #414141;
    --gray-800: #2b2b2b;
    --gray-850: #1a1a1a;
    --gray-900: #111;
    --red-050: snow;
    --red-100: #ffe5e9;
    --red-200: #fbbfc7;
    --red-300: #ff909f;
    --red-400: #ff7082;
    --red-500: #ff455d;
    --red-600: #dd243c;
    --red-700: #c11027;
    --red-800: #8f0718;
    --red-900: #51050e;
    --orange-050: #fff8f3;
    --orange-100: #ffe8d8;
    --orange-200: #ffc59b;
    --orange-300: #fc9c66;
    --orange-400: #fd812d;
    --orange-500: #f35815;
    --orange-600: #c43c02;
    --orange-700: #962d00;
    --orange-800: #672002;
    --orange-900: #391303;
    --yellow-050: #fffbe4;
    --yellow-100: #fff1a8;
    --yellow-200: #fed54a;
    --yellow-300: #f2b600;
    --yellow-400: #d19f03;
    --yellow-500: #a78103;
    --yellow-600: #835c01;
    --yellow-700: #5c4716;
    --yellow-800: #41320c;
    --yellow-900: #261c02;
    --green-050: #effff3;
    --green-100: #d7fbdf;
    --green-200: #a9ecb8;
    --green-300: #75db8c;
    --green-400: #40d763;
    --green-500: #27b648;
    --green-600: #13862e;
    --green-700: #19652a;
    --green-800: #10481d;
    --green-900: #0a2912;
    --blue-050: #f3fbff;
    --blue-100: #ddf2ff;
    --blue-200: #a9dffe;
    --blue-300: #73c7f9;
    --blue-400: #47b7f8;
    --blue-500: #1e9de7;
    --blue-600: #0e73cc;
    --blue-700: #144eb6;
    --blue-800: #0e3682;
    --blue-900: #071f4d;
    --purple-050: #f9f8ff;
    --purple-100: #eeeaff;
    --purple-200: #d4c9fe;
    --purple-300: #b7a5fb;
    --purple-400: #a18bf5;
    --purple-500: #8467f3;
    --purple-600: #624bbb;
    --purple-700: #4b3990;
    --purple-800: #3e1f75;
    --purple-900: #261149;
    --bg-primary: var(--gray-900);
    --bg-secondary: var(--gray-800);
    --bg-tertiary: var(--gray-700);
    --border-primary: var(--gray-800);
    --border-secondary: var(--gray-700);
    --border-action: var(--gray-600);
    --text-primary: var(--gray-050);
    --text-secondary: var(--gray-400);
    --text-blue: var(--blue-400);
    --text-green: var(--green-500);
    --text-orange: var(--orange-300);
    --text-red: var(--red-500);
    --text-red-disabled: var(--red-500);
    --text-purple: var(--purple-400);
    --graph-border: var(--gray-600);
    --graph-blue-gradient-start: var(--blue-900);
    --graph-blue-gradient-stop: var(--blue-900);
    --graph-blue-light: var(--blue-700);
    --graph-blue-dark: var(--blue-400);
    --graph-orange-light: var(--orange-700);
    --graph-orange-dark: var(--orange-400);
    --graph-green-light: var(--green-700);
    --graph-green-dark: var(--green-400);
    line-height: inherit;
    font-size: 14px;
    color: var(--gray-050);
    -webkit-font-smoothing: antialiased;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    border-color: var(--border-primary);
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    justify-content: center;
    display: flex;
    width: 66.666667%;
    border-right-width: 1px;
    padding-left: 0;
    padding-right: 0;
}